div.filelist {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: monospace;
	vertical-align: baseline;
	background-color: white;
	color: #1f2126;
	line-height: 1;
	text-align: left;
}

div.even {
	padding: 2px;
	background: #ffffff;
}

div.odd {
	padding: 2px;
	background: #f8f8f0;
}

pre {
	font-family: Z1013, monospace;
	padding: 2px;
	background: #f8f8f0;
}

div.text {
	font-family: monospace;
    white-space: pre;
	padding: 2px;
	background: #fffff0;
}
