div.filelist {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: monospace;
	vertical-align: baseline;
	background-color: white;
	color: #1f2126;
	line-height: 1;
	text-align: left;
}

div.even {
	padding: 2px;
	background: #ffffff;
}

div.tablehead{
	padding: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	border: dashed gray 1px;
	background: #ffffd0;
}

div.odd {
	padding: 2px;
	background: #f8f8f0;
}

pre {
	font-family: Z1013, monospace;
	padding: 10px;
	margin: 0px;
	background: #f8f8f0;
	border: 1px solid red;
}

div.text {
	font-family: monospace;
    white-space: pre;
	padding: 10px;
	background: #f0f0f0;
}

div.port {
	font-family: monospace;
    white-space: pre;
	padding: 10px;
	background: #40f0f0;
}

div.syscall {
	font-family: monospace;
    white-space: pre;
	padding: 10px;
	background: #f08080;
}

span.md5 {
    font-size: 75%;
	color: #909060;
}

span.fntz1013 {
    font-family: Z1013;
}
