<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de" xml:lang="de">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
  <link rel="icon" href="./favicon.ico" type="image/x-icon" />
  <meta name="description" content="Z1013 Software-Datenbank: Liste aller bekannten Dateien" />
  <meta name="keywords" lang="de" content="U880, Z80, Z1013, software, download, datenbank, rom, programme, spiele" />
  <meta name="keywords" lang="en" content="U880, Z80, Z1013, software, download, database, rom, programs, games" />
  <link rel="stylesheet" type="text/css" href="formate.css" />

<title>Z1013 Software-Datenbank</title>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
<h1>Z1013 Software-Datenbank</h1>
<div>Auflistung der bekannten Programmdateien aus den Quellen:</div>
<ul>
<li><a href="https://hc-ddr.hucki.net/wiki/lib/exe/fetch.php/z1013:software:z1013.zip">V. Pohlers ~ 2200 Dateien, 10 MByte! </a></li>
<li>Z1013.de Software <a href="http://z1013.de/software/z1013soft1.zip">Soft1</a> <a href="http://z1013.de/software/z1013soft1.zip">Soft1</a> <a href="http://z1013.de/z1013_soft.html">EPROM-Inhalte</a></li>
<li><a href="https://www.tosecdev.org/">TOSECDEV</a>  
<a href="http://www.theoldcomputer.com/roms/index.php?folder=Robotron/Z1013/Various">theoldcomputer</a> 
<a href="https://www.loveroms.com/roms/robotron-z1013">loveroms</a></li>
<li>SCI Archiv -  Z1013 Software aus Ilmenau</li>
<li>und <a href="https://web.archive.org/web/20060113200558/http://nirvana.informatik.uni-halle.de/~ziermann/DE/z1013.html">meiner eigenen Software</a> (die sich zum größten Teil in einer der oben genannten Archive wieder finden lassen)</li>
</ul>

<p>Diese Webseite, die <a href="f4e80cb63a5825206a098a61021243a5-edas_text/index.html">eingebundenen Dokumente</a> und insbesondere die <a href="1457c26024fa21e057459fb5019e6bc5-fighter_ls/index.html">Quelltexte</a> benutzen Zeichen aus dem Z1013-Zeichensatz von <code>0x00-0x1f <span class="fntz1013"></span></code> und <code>0x7f-0xff <span class="fntz1013"></span></code>. 
Manchmal enthalten Sie auch ESC-Sequenzen (^[... Form-Feed, Fettdruck etc.), die eigentlich <a href="7aba6f7e42b9191addf7d15218b288aa-esc_folgen.doc/index.html">für Drucker</a>, im Allgemeinen S3004 oder K6313, bestimmt sind. 
Diese Steuercodes wurden mit übernommen und werden als UTF-8 Zeichen (<span class="fntz1013"></span>) dargestellt.<br/>
Diese Sonderzeichen wurden in einen UTF-8 Zeichensatz aufgenommen. Zur besseren Darstellung sollte man daher diesen Font <a href="../Z1013.TTF">Z1013.TTF</a> installieren, 
um z.B. den <a href="ccef2fbe5ee7ff090c380119c78ca4e9-zg_1013_orig/index.html">Original-Zeichensatz</a> komplett sehen zu können.</p>
__BODY__
</body>
</html>
